{% extends "vanshaj/layout.html" %}

{% block body %}


    <div>
        <a class="discuss-topic" style="text-decoration: none; font-family: 'Hind', sans-serif;" href="{{url}}" target="_blank"><h1>{{topic}}</h1> </a>
    </div>

    <p style="color: gray;" > <i style="font-size:15px" class="fa">&#xf06a;</i> You can click on the link above to go to the referenced page!</p>
    {% if user.is_authenticated %}
    <div class="comments">
        <form action="{% url 'comment' url=url topic=topic %}" method="POST">
            {% csrf_token %}
            <div class="field form-group col-12" style="padding: 0;">
                <label for="{{ form.description.id_for_label }}">Write a comment</label>
                <textarea  placeholder="Share your thoughts here..." class=" form-control" style="height: 100px;" name="comment" cols="40" rows="10" maxlength="1000" required="" id="id_comment"></textarea>
            </div>
            <input class="btn btn-primary" type="submit" value="Post" >
        </form>
    </div>
    {% endif %}
    
    <hr>
    {% include "vanshaj/comments.html" with comments=root_comments topic=topic user=user csrf_token=csrf_token only %}

{% endblock %}